.header {
    display: flex;
}

.header-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.section_padding {
    padding: 0 5rem;
}

.header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;

    letter-spacing: -0.04em;
}

.header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
    color: #fff;
    background: #FF4820;
    outline: 0;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    margin-top: 2rem;
}

.header-content__people img {
    width: 181.79px;
    height: 38px;
}

.header-content__people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image img {
    margin-top: 10%;
    margin-left: 10%;
    width: 50%;
    height: auto;
}

.features-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    margin: 1rem;
}

.features-container__feature-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}

.features-container__feature-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}

.features-container__feature-title div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.features-container_feature-text {
    flex: 2;
    max-width: 390px;
    display: flex;
}

.features-container_feature-text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}

@media screen and (max-width: 550px) {
    .features-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .features-container_feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .features-container__feature {
        margin: 1rem 0;
    }
}

@media screen and (max-width: 1050px) {

    .header {
        flex-direction: column;
    }

    .header-content h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .header-content p {
        font-size: 14px;
        line-height: 24px;
    }


    .header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .section_padding {
        padding: 0 2rem;
    }

    .header-content h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .header-content__people {
        flex-direction: column;
    }

    .header-content__people p {
        margin: 0;
    }

}

@media screen and (max-width: 530px) {
    .section_padding {
        padding: 0 1rem;
    }

    .header-content h1 {
        font-size: 30px;
        line-height: 48px;
    }

    .header-content p {
        font-size: 14px;
        line-height: 24px;
    }
}