.footer {
    background-color: var(--color-footer);
    color: #fff;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-heading {
    font-weight: 800;
    font-size: 40px;
    line-height: 100px;

    text-align: center;
    letter-spacing: -0.04em;
    margin-bottom: 3rem;
}

.footer-button {
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    padding: 1rem;
    word-spacing: 3px;
    cursor: pointer;
}

.footer-button p {
    font-size: 18px;
    line-height: 21px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

.footer-links div {
    width: 250px;
    margin: 1rem;
}

.footer-links_div a:hover {
    opacity: 50%;
}

.footer-links_logo {
    display: flex;
    flex-direction: column;
}

.footer-links_logo img {
    width: 118px;
    height: 30px;
    margin-bottom: 1rem;
}

.footer-links_logo p {
    font-size: 12px;
    line-height: 14px;
}

.footer-links_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-links_div h4 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 1rem;
}

.footer-links_div p {
    font-size: 12px;
    line-height: 14px;
    margin: 1rem 0;
    cursor: pointer;
}

.footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.footer-copyrights p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .footer-heading h1 {
        font-size: 44px;
        line-height: 60px;
    }
}

@media screen and (max-width: 550px) {
    .footer-heading h1 {
        font-size: 34px;
        line-height: 48px;
    }

    .footer-links div {
        margin: 1rem 0;
    }

    .footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}